// Configuration variables for app styles

pre {
  padding: 1em;
  border-radius: .5em;
}

.text-sans-serif {
  font-family: $font-family-sans-serif !important;
}

.text-muted {
  color: $gray-500 !important;
}
