<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}" data-bs-theme="{{ .Site.Params.theme | default "dark" }}">
  {{ partial "site-head.html" . }}
  <body>
    <header class="navbar navbar-expand fixed-top-sm">
      <div class="container-fluid flex-column flex-sm-row">
        <a href="{{ "/" | relURL }}" class="navbar-brand mr-sm-auto">
          {{ .Site.Title }}
        </a>
        <nav class="navbar-nav">
          <a class="nav-link" href="{{ "/" | relURL }}">Home</a>
          {{ if .Site.Menus.main }}
            {{ range sort .Site.Menus.main }}
              <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
          {{ end }}
        </nav>
      </div>
    </header>

    <main class="container mb-3">
      {{ block "main" . }}{{ end }}
    </main>
  </body>
</html>
