.page-home {
  .drop-shadow {
    filter: drop-shadow(0 0 5px rgba(255,255,255,0.5));
  }

  .social-link {
    color: $body-color;
    flex: 0 0 4rem;
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 0;
    transition: all .25s ease;

    &:hover {
      color: $body-color;
      font-size: 2rem;
    }
  }
}
